@font-face {
  font-family: "Chicago";
  src: url("/ChicagoFLF.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@tailwind base;

html,
body {
  overscroll-behavior-x: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Chicago", "Helvetica Neue", Helvetica, Arial, sans-serif, serif;
}

body {
  background-image: url(/macpattern.png);
  background-size: 4px 4px;
  margin: auto;
}

body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}


@media screen and (min-width: 1920px) {
  body {
    width: 1890px;
  }
}
@media screen and (min-width: 3840px) {
  body {
    width: 3810px;
  }
}

* {
  white-space: normal;
word-wrap: break-word;
}

@tailwind components;
@tailwind utilities;
