@font-face {
  font-family: "Chicago";
  src: url("/ChicagoFLF.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@tailwind base;

html, body {
  overscroll-behavior-x: none;
  /* overscroll-behavior-y: none; */
}
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family:
  "Chicago",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
}

body {
  background-image: url(/macpattern.png);
  background-size: 4px 4px;
  
}

body > div {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@tailwind components;
@tailwind utilities;